[Unit]
Description=Dovecot container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a dovecot
ExecStop=/usr/bin/docker stop dovecot

[Install]
WantedBy=local.target
