[Unit]
Description=Dovecot container
Requires=docker.service thalariond.service
After=docker.service thalariond.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStartPre=-/bin/docker stop dovecot
ExecStartPre=-/bin/docker rm dovecot
ExecStartPre=-/bin/docker pull thalarion/dovecot
ExecStart=/data/dovecot/run.sh

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineID=8e6431c045c04771868d64643ff133c8
